/* цвет основной + телефон в шапке #757575 */
/* цвет заголовков #212121 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* телефон, почта футер rgba(255, 255, 255, 0.6) */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --color-bg-child: #f5f4fa;
}

/* Герой */

.hero {
  background-color: rgb(198, 198, 199);
  text-align: center;
}

.container-hero {
  outline: 2px solid tomato;
}

.hero-title {
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 46px;
}

.button.primary {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  /* display: flex;
  align-items: center;
   */
}

/* Наши преимущества */

.section.advantage {
  padding-top: 94px;
}

.advantage .list {
  display: flex;
  margin: -15px;
}

.advantage .item {
  width: 278px;
  margin: 15px;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section .title-primary {
  margin: 0;
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantage .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.section.doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.doing .list {
  display: flex;
  margin: -15px;
}

.doing li {
  width: 380px;
  margin: 15px;
  text-align: center;
}

.doing img {
  display: block; /* занимает местопо ширине родителя-блока, пропадает 4px снизу картинки */
}

.doing-text {
  margin: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* Наша команда */

.section.team {
  padding-top: 94px;
  background-color: var(--color-bg-child);
}

/* .section.team:nth-child(2n) {
  background-color: var(--color-bg-child);
} */
/* каждой второй секции задать фон */

.team .list {
  display: flex;
  margin: -15px;
}

.team li {
  width: 278px;
  margin: 15px;
  text-align: center;
}
.team img {
  display: block; /* занимает местопо ширине родителя-блока, пропадает 4px снизу картинки */
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  /* text-align: center; */
}

.team-position {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  /* text-align: center; */
}

/* Постоянные клиенты */
.section.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer .list {
  display: flex;
  justify-content: space-evenly;
}
