/* цвет основной + телефон в шапке #757575 */
/* цвет заголовков #212121 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* телефон, почта футер rgba(255, 255, 255, 0.6) */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --color-bg-child: #f5f4fa;
}

/* Герой */

.section.hero {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: url(../img/portfolio/business-9.jpg);
  /* background-image: right 600px bottom 200px; */
  background-repeat: repeat-x;
  background-size: cover;
}

.hero {
  background-color: rgb(198, 198, 199);
  text-align: center;
}

.container-hero {
  outline: 2px solid tomato;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  padding-top: 200px;

  color: var(--primary-white-color);

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero .button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Наши преимущества */

.section.advantage {
  padding-top: 94px;
}

.advantage .list {
  display: flex;
  margin: -15px;
}

.advantage .item {
  width: 278px;
  margin: 15px;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section .title-primary {
  margin: 0;
  display: none; /* Прячу название секции */
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantage p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.section.doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.doing .list {
  display: flex;
}

.doing .item {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.doing .item:nth-child(3n) {
  margin-right: 0;
}

.doing .item:nth-child(3n) {
  margin-bottom: 0;
}

.doing img {
  display: block; /* занимает местопо ширине родителя-блока, пропадает 4px снизу картинки */
}

.doing-text {
  margin: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

/* Наша команда */

.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-bg-child);
}

.team .list {
  display: flex;
}

.team img {
  display: block; /* занимает местопо ширине родителя-блока, пропадает 4px снизу картинки */
  margin-bottom: 30px;
}

.team .list li {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  text-align: center;
  background-color: tomato;
}

.team .list.icon {
  justify-content: center;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-position {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* Постоянные клиенты */
.section.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer .list {
  display: flex;
  justify-content: space-evenly;
}

.customer .list li {
  margin-right: 30px;
  width: calc((100% - 60px) / 6);

  border: 2px solid tomato;
}

.customer .list li {
  text-align: center;
}
