.projects img {
  display: block;
}

.title-primary {
  margin-top: 0;
  margin-bottom: 0;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}

/* .button:focus {
  color: var(--accent-text-color);
} */

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
}
.list {
  list-style: none;
}

.title-projects {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.text-projects {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
